.gform_wrapper {
	background: #fff;
	padding: 1.5em;
	box-shadow: var(--shadow);
	border-left: 1px solid var(--color-shadow);
	border-right: 1px solid var(--color-shadow);
	border-bottom: 1px solid var(--color-shadow);
}

input:not([type=submit]),
textarea {
	width: 100%;
	padding: 1.5em;
	border: 1px solid var(--color-border);
}

input[type=file] {
	padding: 2em;
	border-style: dashed;
}

label {
	margin-bottom: 0.5em;
}

input + label {
	font-weight: normal;
	margin-top: 0.5em;
}

.gform_fields {
	padding: 0;
	list-style-type: none;
}

.gfield_label {
	margin-top: 0;
	font-weight: bold;
}

.ginput_full {
	width: 100%;
}

.gf_clear_complex {
	display: none;
}

.gfield_visibility_hidden {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.ginput_container_address {
	display: flex;
	flex-wrap: wrap;
}

.ginput_container_address > span {
	margin-bottom: 1em;
}

.gfield {
	margin-bottom: 2em;
}

.gfield input,
.gfield select {
	margin-bottom: 0;
}

.ginput_container_consent {
	align-items: center;
}

.gfield_consent_label {
	margin: 0;
}

.ginput_container_consent > input {
	width: 1em;
	margin-right: 0.5em;
}

select + label {
	margin-top: 0.5em;
}

.hidden_label .gfield_label {
	display: none;
}

.gfield_required {
	color: orangered;
	margin: 0 0.1em;
}

.address_country {
	cursor: not-allowed;
}

.address_country select {
	pointer-events: none;
	cursor: not-allowed;
	background: var(--color-border);
}

@media (min-width: 800px) {

	.ginput_container {
		display: flex;
		justify-content: space-between;
	}

	.ginput_container_consent {
		justify-content: flex-start;
	}

	.name_first,
	.name_last,
	.ginput_left,
	.ginput_right {
		width: 49%;
	}
}
