.content-header .row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.content-header .row:before,
.content-header .row:after {
	display: none;
}

.content-header .columns {
	width: auto;
	margin: 0;
}

.single-platform .header {
	border-bottom: var(--border);
}

.single-platform-header {
	padding: 30px 0 0;
}

.d-flex {
	display: flex;
	justify-content: space-between;
}

.d-flex:before,
.d-flex:after {
	display: none;
}

.platform-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 1em;
	margin: 50px auto 80px;
}

.platform-card {
	width: 100%;
	border-top: 1px solid #ededed;
	box-shadow: 0 1px 1px 0 rgba(185, 184, 184, .75);
	background: #FFF;
}

.platform-header {
	display: flex;
	align-items: center;
}

.platform-logo img {
	height: 120px;
	width: 120px;
	margin-right: 2em;
	object-fit: cover;
	object-position: center;
	border: 1px solid #ededed;
	border-radius: 999px;
}

.platform-content h1 {
	margin: 0 0 .5em;
}

.platform-content h2 {
	margin: 1em 0 .5em;
	font-size: 26px;
}

.platform-content ul {
	margin-left: 1em;
}

.platform-contact {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.contact-info,
.platform-content {
	background: #fff;
	border: 1px solid var(--color-border);
	border-radius: 3px;
	padding: 1.5em !important;
}

.platform-content,
.platform-sidebar {
	width: 90%;
	margin: 30px 0 50px;
}

.platform-sidebar blockquote {
	border-left: 0;
	padding: 0;
}

.platform-sidebar img {
	margin: 1em auto 2em;
	max-width: 80%;
	display: block;
}

.platform-sidebar p {
	width: 100%;
	margin: 1.5em 0;
	display: block;
	padding-left: 1.5em;
	position: relative;
}

.platform-sidebar svg {
	position: absolute;
	top: 0.25em;
	left: 0;
	height: 1em;
	width: 1em;
	vertical-align: middle;
	fill: var(--color-primary);
}

.platform-sidebar .fre-btn {
	display: block;
	margin: 2.5em auto 0;
}

.screenshots {
	margin-top: 1.5em;
	padding: 1.5em 1.5em 0;
	border: var(--border);
	border-radius: var(--border-radius);
	list-style: none;
	background: #fff;
}

.screenshots a {
	display: block;
	height: 150px;
	margin-bottom: 1.5em;
	border: 1px solid var(--color-border);
	border-radius: 3px;
}

.screenshots img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	margin: 0;
	max-width: 100%;
}

.card-image-link {
	display: block;
	width: 100%;
	height: 200px;
	border-bottom: 1px solid #ededed;
	padding: 2em;
}

.card-image-link img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.card-inner {
	padding: 0 2em 1em;
}

.card-title h2 {
	font-size: 24px;
}

.form-popup {
	transition: opacity 0.5s ease;
}

.form-popup.visible {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	margin: auto;
	opacity: 1;
	z-index: 9999;
	pointer-events: auto;
}

.form-popup.hidden {
	z-index: -999;
	opacity: 0;
	pointer-events: none;
	position: absolute;
}

.form-popup-wrapper {
	width: 90%;
	max-width: 600px;
	background: #fff;
	padding: 2em;
	margin: 0;
	max-height: 90vh;
}

.form-popup .gform_wrapper {
	padding: 0;
	border: 0;
	box-shadow: none;
}

.justify-center {
	display: flex;
	justify-content: center;
}

@media (min-width: 991px) {

	.platform-sidebar {
		width: 300px;
		padding: 0;
	}

	.platform-content {
		width: calc(100% - 300px - 2em);
	}

}
