
.proposal-meta {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.proposal-meta fieldset {
	margin: 0;
}


.proposal,
.section-tabs {
	width: 100%;
	padding: 2em;
	background: #fff;
	border: var(--border);
	border-top: 0;
	box-shadow: var(--shadow);
}

.dashboard .section-tabs,
.dashboard .proposal,
.proposal .proposal {
	margin: 0;
	padding: 0;
	border: 0;
	box-shadow: none;
}
